

.loader {
  margin: auto;
  border: 20px solid none;
  border-radius: 50%;
  border-top: 20px solid #dc143c;
  display: flex;
  justify-self:center;
  height:20rem;
  width: 20rem;
  animation: spinner 0.5s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}