@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

.navmain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0px 1px 20px rgba(220, 20, 60, 0.5);
  position: fixed;
  top: 0em;
  right: 0;
  z-index: 99;
}

/* Logo */
.logo {
  font-size: larger;
  color: white;
  margin: 0 0 0 5%;
  width: auto;
  height: 90px;
  padding: 0.3em 1.3em;
  background-color: rgba(220, 20, 60, 0.8);
  border-radius: 0 0 200px 200px;
  font-weight: 800;
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: 2em;
  letter-spacing: 2px;
}

.logoimg {
  position: relative;
  top: 20px;
  width: 80px;
  height: 80px;
  box-shadow: 3px 3px 10px black;
  border-radius: 50px;
  background: cover;
}

.top-left {
  /* border: 1px solid bla; */
  width: 50px;
  height: 60px;
  position: absolute;
  top: 1px;
  left: -35px;
  border-radius: 0 25px 0 0;
  background-color: white;
}
.top-right {
  /* border: 1px solid black; */
  width: 50px;
  height: 60px;
  position: absolute;
  top: 1px;
  right: -35px;
  border-radius: 25px 0 0 0;
  background-color: white;
}

/* Navbar for Larger Screens */
@media (min-width: 900px) {
  .navbar-sm {
    display: none;
  }
  #toggle-menu {
    border-radius: 0 0 10px 10px;
    height: 70px;
    position: absolute;
    top: 0px;
    right: 10px;
    width: auto;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    list-style: none;
  }

  #toggle-menu li a {
    font-family: "Nunito Sans", sans-serif;
    line-height: 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 800;
    padding: 0px 15px;
    border-radius: 0 0 10px 10px;
  }

  #toggle-menu li a:hover {
    transition: 0.3s all ease;
    color: white;
    padding: 7px 15px;
    background-color: crimson;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 2px 20px rgba(220, 20, 60, 0.2);
  }

  .toggle-btn {
    display: none;
  }
}

/* Navbar for Smaller screens */
@media (max-width: 900px) {
  #toggle-menu {
    display: none;
  }

  .dropdown > .active > a {
    background-color: crimson !important;
  }
  .dropdown-toggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.5px;
    left: 42vw;
    justify-content: space-evenly;
    align-items: right;
    text-align: center;
    width: 31px;
    height: 36px;
    cursor: pointer;
  }

  .dropdown-toggle .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 30px;
  }

  .dropdown-item a {
    font-family: "Nunito", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 800;
    padding: 7px 15px;
    border-radius: 0 0 10px 10px;
  }

  .dropdown-item a:hover {
    transition: 0.3s all ease;
    color: white;
    padding: 5px 15px;
    background-color: crimson !important;
    border-radius: 10px;
    box-shadow: 1px 2px 20px rgba(220, 20, 60, 0.2);
  }

  .dropdown-item:active {
    transition: 0.3s all ease;
    padding: 5px 15px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
  }

  .dropdown-toggle::after {
    display: none;
  }
  .navbar {
    display: none;
  }
}
