#about {
	padding-top: 60px;
}
#profile-pic {
	position: relative;
	left: -60px;
	width: 250px;
	height: 300px;
	border-radius: 20px;
	border: 5px solid #fff;
	margin: 0 auto;
	box-shadow: 15px 13px 46px -18px rgba(0, 0, 0, 0.86);
}
.text {
	font-size: 2rem;
	margin: 25px 50px 35px 0px;
	cursor: default;
}
#whoIam {
	font-size: 3rem;
}
.whoIam:hover {
	animation-name: color;
	animation-duration: 1s;
	color: crimson;
	cursor: default;
}
@keyframes color {
	0% {
		color: black;
	}
	100% {
		color: crimson;
	}
}
.resumeButton {
	outline: none;
	border: none;
	background: var(--red);
	color: white;
	padding: 11px;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 25px;
}
.resumeButton:hover {
	background-color: rgba(220, 20, 60, 0.692);
}
.resumeButton:focus {
	outline: none;
}
