* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

body {
  overflow-x: hidden;
}

section .title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
}
