@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.contact-container {
  height: 600px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.contact-header-main-text {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  font-family: 'Ibarra Real Nova', serif;
}

.contact-header-sub-text {
  color: #7000C4;
  font-size: 22px;
  text-align: center;
  position: relative;
  bottom: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.contact-main-wrapper {
  display: grid;
  max-width: 1050px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.mail-box {
  height: 320px;
  width: 320px;
  position: relative;
  bottom: 30px;
}

.contact-right-wrapper input {
  height: 60px;
  width: 500px;
  padding: 7px 12px;
  border-radius: 4px;
  background: #b274e2d5;
  outline: none;
  border: 1px solid transparent;
  margin-bottom: 20px;
  transition: 0.2s ease;
  font-weight: 16px;
  color: #fafafa;
}

.contact-right-wrapper input:focus {
  background: #f1eeee;
  color: #232323;
}

.contact-right-wrapper input::placeholder {
  color: #ddd7d7;
  font-size: 16px;
}

.contact-right-wrapper textarea {
  height: 60px;
  width: 500px;
  height: 170px;
  resize: none;
  padding: 7px 12px;
  border-radius: 4px;
  background: #b274e2d5;
  outline: none;
  color: #f1eeee;
  font-weight: 16px;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.contact-container textarea:focus {
  background: #f1eeee;
  color: #232323;
}

.contact-right-wrapper textarea::placeholder {
  color: #ddd7d7;
  font-size: 16px;
}

.contact-right-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}

.contact-right-btn {
  height: 50px;
  width: 180px;
  color: #f1eeee;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  border: 1px solid transparent;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  background: #7000C4;
  font-family: 'Nunito Sans', sans-serif;
}

.contact-right-btn:hover {
  background: #4c0483;
  color: #ffffff;
}

.contact-right-btn:hover svg {
  animation: sway 1000ms infinite;
}

.contact-right-btn svg {
  height: 18px;
  width: 18px;
  margin-top: 2px;
  margin-left: 7px;
}

@keyframes sway {
  0% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

@media screen and (max-width: 880px) {
  .contact-main-wrapper {
    grid-template-columns: 1fr;
  }

  .mail-box {
    display: none;
  }

  .contact-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-right-wrapper input {
    width: 90%;
  }

  .contact-right-wrapper textarea {
    width: 90%;
  }
}
