 @import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap");
:root {
  --font: "Montserrat Alternates", sans-serif;
  --crimson: #dc143c;
} 
.contact {
  width: 100%;
  bottom: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.contact-content{
    display: flex;
    justify-content: space-around;
}

.contact input[type="text"] {
    padding: 13px 36px;
    border-radius: 10px;
    outline: none;
    border: 1px solid ;
    margin: 5px;
  }

  .contact input[type="email"] {
    padding: 13px 36px;
    border-radius: 10px;
    outline: none;
    border: 1px solid ;
    margin: 5px;
  }

  .contact input[type="name"] {
    padding: 13px 36px;
    border-radius: 10px;
    outline: none;
    border: 1px solid ;
    margin: 5px;
  }

  .contact textarea {
    padding: 13px 36px;
    border-radius: 10px;
    outline: none;
    border: 1px solid ;
    margin: 5px;
  }

  .contact button {
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-size: 25px;
    background: var(--crimson);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .column.left .table{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      color: black;
  }
  .head {
      font-size: 20px;
      font-weight: 800;
      margin-top: 8px;
  }






  