@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap");

footer {
	width: 100%;
	bottom: 0;
	background: #111;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: #fff;
	padding: 20px;
	font-family: var(--font);
}
footer .text {
	font-size: 30px;
	font-weight: bold;
	margin: 20px auto;
	font-family: "Ibarra Real Nova", serif;
}

footer input[type="email"] {
	width: calc(100vw - 40vw);
	font-size: 26px;
	padding: 10px;
	border-radius: 30px 0 0 30px;
	color: var(--crimson);
	outline: none;
	border: 1px solid #fff;
	color: black;
}
footer input[type="submit"] {
	outline: none;
	border: none;
	border-radius: 0 30px 30px 0;
	padding: 9px;
	color: #fff;
	font-size: 26px;
	font-family: "Nunito Sans", sans-serif;
	background: #7000c4;
	cursor: pointer;
	border: 2px solid #7000c4;
}

footer input:hover[type="submit"] {
	background: #4c0483;
	color: #fff;
	border: 2px solid #fff;
}
footer .footer-list {
	margin: 25px auto;
	display: flex;
	list-style-type: none;
	font-family: "Nunito Sans", sans-serif;
}

footer .footer-list li a {
	font-size: 20px;
	text-decoration: none;
	padding: 20px;
	font-weight: bold;
	color: #fff;
	transition: all 0.4s ease;
	line-height: 30px;
}

footer .footer-list li a:hover {
	border-bottom: 4px solid #7000c4;
	color: #7000c4;
	transition: all 0.4s ease;
}

footer .social-media-container {
	margin: 0 auto;
	padding: 5px 0;
	max-width: 100%;
	width: 810px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

footer .social-media-container a {
	font-size: 0px;
	color: #fff;
	margin: 10px 0;
	text-decoration: none;
	transition: all 0.2s ease;
	flex-basis: 20%;
	font-weight: bold;
}
footer .social-media-container a:hover {
	font-size: 14px;
	/* color: var(--crimson); */
	background-color: #fff;
	border-radius: 5px;
}

footer .social-media-container i {
	font-size: 40px;
	vertical-align: middle;
	line-height: 40px;
}
footer .social-media-container a:hover i {
	font-size: 20px;
	padding-right: 5px;
}
.facebook:hover {
	color: #1877f2;
}
.twitter:hover {
	color: #1da1f2;
}
.linkedIn:hover {
	color: #0a66c2;
}
.youtube:hover {
	color: #ff0000;
}
.github:hover {
	color: #161614;
}
span {
	display: flex;
	justify-content: center;
	line-height: 30px;
	font-family: var(--font);
}
span a {
	margin-left: 5px;
}
/* MEDIA QUERIES */
@media (max-width: 810px) {
	footer .text,
	footer input[type="email"],
	footer input[type="submit"] {
		font-size: 20px;
	}
	footer .footer-list li a {
		padding: 15px;
		font-size: 15px;
	}

	footer .social-media-container a:hover {
		font-size: 12px;
	}
}
@media (max-width: 610px) {
	.text,
	footer input[type="email"],
	footer input[type="submit"] {
		font-size: 14px;
	}
	footer .footer-list li a {
		padding: 10px;
		font-size: 12px;
	}

	footer .social-media-container a:hover {
		font-size: 8px;
	}
	footer .social-media-container i {
		font-size: 20px;
		line-height: initial;
		padding: 3px;
	}
}
@media (max-width: 470px) {
	footer .text {
		font-size: 12px;
	}
	footer .footer-list li a {
		padding: 5px;
	}
}
@media (max-width: 330px) {
	.text {
		font-size: 10px;
	}
}

.email-signup-form {
	display: flex;
	align-items: center;
	justify-content: center;
}
