.projects{
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    background-color: crimson;
}

.projects h1{
    text-align: center;
    margin: 25px 0px;
    font-size: 40px;
    color: white;
    font-family: sans-serif;
}

.projects-tiles{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 360px));
    justify-content: space-around;
    align-items: center;
    background: rgb(218, 78, 106);
}

.card{
    width: 90%;
    height: 70%;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: grid;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    justify-self: center;
    align-self: center;
    margin: 25px 0;
}

.card:hover{
    transform: translateY(20px);
}

.card:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(240,125,139);
    background: linear-gradient(180deg, rgba(240,125,139,1) 0%, rgba(251,251,251,1) 100%);
    /* background: linear-gradient(to bottom, rgba(0,176,155,0.5), rgba(150,201,61,1)); */
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.projects-tiles .card:hover:before{
    opacity: 1;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.card .info{
    position: relative;
    z-index: 3;
    color: black;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    text-align: center;
    padding-top: 10%;
}

.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1{
    margin: 0;
}

.card .info p{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}