@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.skills-para{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 3em;
}
.technology{
    width: 2.5em;
    height: 2.5em;
    margin: 2px;
}
.code-gif{
    display: flex;
    gap: 5em;
}
.gif{
    width: 20em;
}
.red{
    font-family: 'Ibarra Real Nova', serif;
    color: #7000C4;
    font-weight: 600;
}

@media (max-width: 690px) {
    .gif {
      display: none;
    }
}
@media (max-width: 947px) {
    .gif {
      width: 15em;
    }
}
  